{% extends 'base.html' %}
{% block content %}
<form method="POST">
  <div class="mb-3">
    <label>Word</label>
    <input type="text" name="word" class="form-control" required>
  </div>
  <div class="mb-3">
    <label>Definition</label>
    <input type="text" name="definition" class="form-control">
  </div>
  <div class="mb-3">
    <label>Examples</label>
    <textarea name="examples" class="form-control"></textarea>
  </div>
  <button type="submit" class="btn btn-success">Save</button>
</form>
{% endblock %}
