<!doctype html>
<html>
  <head>
    <title>{{ word.word }}</title>
  </head>
  <body>
    <h1>{{ word.word }}</h1>
    <p><strong>Definition:</strong> {{ word.definition }}</p>
    <p><strong>Examples:</strong> {{ word.examples }}</p>
    <form method="POST" action="{{ url_for('upvote', id=word.id) }}">
      <button class="btn btn-outline-success" type="submit">
       👍 {{ word.upvotes }} Upvotes
      </button>
    </form>
    
    <a href="{{ url_for('index') }}">Back to Dictionary</a>
  </body>
</html>
